* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 55.5%;
}
.button-design{
  height: 10vh;
  width: 20vh;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.button-design button{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #a0a0a0;
  letter-spacing: 0.5px;
  font-size: 16px;
  background-color: #fff;
  /* padding: 0 10px; */
}
.button-design button:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.button-design button:hover{
  color: black;
}
.button-design button:hover:after{
  width: 100%;
}
.button-design button.active{
  color: #ff3c78;
}
.card-body h1{
  text-transform: capitalize;
}
.card-body p{
  font-size: 12px;
}
